<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head')%>
  </head>
  <body>
    <%- include ('partials/navigation.ejs') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
    <section>
      <h1 class="display-1">About</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati possimus ex aliquid reiciendis molestiae unde ab fugit reprehenderit tempore voluptatem, eligendi, quos tempora tenetur! Officia reiciendis, sapiente, ipsam neque amet veritatis laudantium maxime molestias fugit aliquid consequatur vel ipsa. Amet impedit explicabo, voluptatum officia nostrum beatae aut tenetur veritatis repellat. Tempora sit nihil aliquam sapiente nostrum reprehenderit perspiciatis, aperiam perferendis consectetur laboriosam itaque beatae ullam maiores voluptas optio repellat ipsum reiciendis placeat voluptatum debitis sed in. Earum, non! Totam aperiam ad pariatur distinctio doloribus! Inventore quae possimus, porro fugit quaerat cumque laboriosam tempore soluta totam hic voluptatem dolores accusantium quas odio reprehenderit exercitationem commodi? Facilis quas, atque magni est earum quaerat sit autem nisi fuga, reiciendis corrupti optio reprehenderit deleniti necessitatibus adipisci tempora mollitia vitae! Ipsum laudantium inventore laborum expedita. Impedit tempora doloribus quia quis non eveniet in reiciendis dolorem hic alias, odit quidem? Ea animi culpa non quod fuga eligendi tempore molestiae officia unde, nihil natus corporis sint. Dicta deleniti ad est sit id obcaecati minima, hic beatae nihil perspiciatis enim adipisci aliquid cumque, et quaerat aut esse ipsam molestiae mollitia dolore inventore exercitationem reprehenderit maiores. Dolorum, delectus laudantium. Qui, incidunt. Quod nam commodi similique autem recusandae magnam ex cumque, at itaque numquam sapiente tempora fugiat. Optio minus eveniet quaerat, accusantium, saepe, vero esse ullam voluptatibus necessitatibus soluta delectus tempora perspiciatis sed autem nisi nam ipsa! Ex at consequatur quas voluptatem deleniti provident. Eum, ducimus? Dicta beatae esse nihil? Optio ipsum expedita officia impedit cum animi. Quis illo laborum nobis quibusdam exercitationem earum dignissimos quam iusto, deleniti perferendis perspiciatis, quos optio obcaecati aliquid distinctio nemo voluptatem, sint sequi. Iste sint obcaecati veniam velit sunt expedita adipisci maxime possimus officia corrupti esse laborum, incidunt quae optio natus, doloremque dolorum dolorem? Laborum nobis nemo hic aliquid obcaecati quis vero ea maiores?</p>
    </section>
    </main>
    <%- include ('partials/footer.ejs') %>
    
  </body>
</html>
